# Habilita el motor de reescritura
RewriteEngine On

# Establece la base para las reglas de reescritura
RewriteBase /Chevez-IT/GestorSolicitudes/

# Condición: Evitar el acceso directo a archivos existentes
RewriteCond %{REQUEST_FILENAME} !-f

# Condición: Evitar el acceso directo a directorios existentes
RewriteCond %{REQUEST_FILENAME} !-d

# Regla de reescritura: redirige todas las solicitudes a index.php y pasa la URL como parámetro 'url'
RewriteRule ^(.*)$ index.php/$1 [L,QSA]


